@media screen and (min-width:992px) {

    .container {
        max-width: 75%;
    }

    .recipe-name {
        font-size: 3rem;
    }

    .quick-notes ul {
        display: block;
    }

    .recipe-card {
        display: flex;
    }

    .recipe-video {
        flex-basis: 75%;
        height: 30vw;
    }

    .recipe-info {
        flex-basis: 25%;
    }

    .social-networks .label {
        display: inline-block;
    }

    footer {
        display: flex;
        justify-content: space-between;
    }
}