@media screen and (min-width: 768px) {

    #topbar {
        /* display: inline-block;
        avendo gia elemento flex, meglio mantenerlo tale
        e fixarlo in base a come mi serve che si sposti*/

        justify-content: flex-start;
    }

    main {
        padding: 50px;
    }

    .recipe-origin {
        display: inline-block;
    }

    .recipe-name {
        font-size: 2rem;
    }

    .quick-notes ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 10px;
    }

    .quick-notes li {
        flex-basis: calc(100% / 3 - 10px);
    }

    .ads {
        display: block;
    }

}